.site-author-image {
  display: block;
  margin: 0 auto;
  max-width: 96px;
  height: auto;
  border: 2px solid $main_color;
  padding: 2px;

  /* start*/
  border-radius: 50%
  webkit-transition: 1.2s all;
  moz-transition: 1.2s all;
  ms-transition: 1.2s all;
  transition: 1.2s all;
  /* end */
}
/* start */
.site-author-image:hover {
  background-color: $main_color;
  webkit-transform: rotate(360deg) scale(1.1);
  moz-transform: rotate(360deg) scale(1.1);
  ms-transform: rotate(360deg) scale(1.1);
  transform: rotate(360deg) scale(1.1);
}

.site-author-name {
  padding-top: 6px;
}
/* end */
