.feed-link {
  margin-top: 20px;

  a {
    display: inline-block;
    padding: 0 15px;
    color: $feed_color;
    border: 1px solid $feed_color;
    border-radius: 4px;

    i {
      color: $feed_color;
      font-size: 14px;
    }

    &:hover {
      color:white;
      background: $feed_color;

      i { color: white; }
    }
  }
}
