// Page specific styles

@import "archive";
@import "categories";
@import "schedule";
@import "post-detail";

.post-body p a{
  color: $main_color;
  border-bottom: none;
  &:hover {
    color: $main_color-bright;
    text-decoration: underline;
  }
}
